.navbar {
    color: #ffffff;
    box-shadow: 2px 2px 5px #000000;
    background: rgba(0,0, 0, 0.5);
    
}

.navbar .nav-item .nav-link {
    color: #ffffff;
}
.video-background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0, 0, 0.8);
}
body {
    overflow-x: hidden;
    background: rgba(0,0, 0, 0.8);
}
.main-header {
    position: absolute;
    top: 38%;
    width: 100%;
    color: #ffffff;
    
}
.main-header h3 {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}

/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
    margin-left: 0px!important;
    margin-right: 0px!important;
    }
    
    /*--- Fixed Video Background iOS/Mobile Style--*/
    .video-wrap {
      clip: rect(0, auto, auto, 0);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    #video {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      will-change: transform;
      z-index: -1000;
    }
    video { 
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background: url('') no-repeat;
      background-size: cover;
      transition: 1s opacity;
    }
.main-header .background-overlay .container {
    background: rgba(0,0, 0, 0.6);
    padding: 10px;
    margin-top: 90px;

}.main-header .container-fluid .btn {
    bottom: 120px;
}



section h2 {
    color: white;
}
section p {
    color: white;
}


