/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
    margin-left: 0px!important;
    margin-right: 0px!important;
    }
    
    /*--- Fixed Video Background iOS/Mobile Style--*/
    .video-wrap {
      clip: rect(0, auto, auto, 0);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    #video {
      position: fixed;
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center center;
      -webkit-transform: translateZ(0);
              transform: translateZ(0);
      will-change: transform;
      z-index: -1000;
    }
    video { 
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(-50%) translateY(-50%);
      background: url('') no-repeat;
      background-size: cover;
      transition: 1s opacity;
    }
}
.video-background {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0,0, 0, 0.8);
}

.main-section{
    margin:0 auto;
    margin-top: 150px;
    padding: 0;
}

.modal-content{
    margin-top: 15px;
    background-color: #000000;
    opacity: .6;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #000000;
}

.form-group input{
    height: 42px;
    font-size: 18px;
    border:0;
    padding-left: 54px;
    border-radius: 5px;
}

.form-group::before{
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top:4px;
}

button{
    width: 60%;
    margin: 5px 0 25px;
}

.col-12 {
    margin-top: 20px;
}